code {
  font-size: 1.1em;
}

.box-danger {
  background: #3A474C;
  padding: 1rem;
  border-radius: 2px;
  border-left: 3px solid #EA4335;
}

.box-success {
  background: #3A474C;
  padding: 1rem;
  border-radius: 2px;
  border-left: 3px solid #34A853;
}

.box-info {
  background: #3A474C;
  padding: 1rem;
  border-radius: 2px;
  border-left: 3px solid #4285F4;
}

.box-warning {
  background: #3A474C;
  padding: 1rem;
  border-radius: 2px;
  border-left: 3px solid #FBBC05;
}

.my-subtext {
  white-space: pre;
  color: #7A8E95;
  font-size: 1em;
}

pre {
  padding: 1.0rem;
}
