code {
  font-size: 1.2em;
}

.box-warning {
  background: #3A474C;
  padding: 1rem;
  border-radius: 2px;
  border-left: 3px solid #E23237;
}

.box-info {
  background: #3A474C;
  padding: 1rem;
  border-radius: 2px;
  border-left: 3px solid #8BC34A;
}

.my-subtext {
  white-space: pre;
  color: #7A8E95;
  font-size: 1em;
}

pre {
  padding: 1.0rem;
}
