pre {
  background: #3A474C;
  padding: 1.5rem;
}

body {
  background: #2A363B;
  color: white;
  font-size:1.1em;
  padding-bottom: 100px;
}

h1,h2,h3,h4 {
  color:#fff;
  margin-bottom: 10px;
  margin-top: 40px;
}

h1 {font-size: 2.2em; margin-bottom:20px;}
h2 {font-size: 1.4em;}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #00BCD4;
}

a:visited {
  text-decoration: none;
  color: #00BCD4;
}

a:hover {
  text-decoration: underline;
}

.edit-page {
  float: right;
  position:relative;
  bottom: 60px;
  font-size: 0.9rem;
  overflow:auto;
  margin:0px;
  padding:0px;
}

.clear { clear:both;}

.hero-center {
  width:100%;
  margin-top: 50px;
  text-align: center;
}

.hero-center div {
  margin: auto;
  max-width: 350px;
}

.hero-btns {
  padding-left: 50px;
  padding-top: 20px;
}

.github-btn {
  position:relative;
  top:30px;
  left:40px;
}

.slogan {
  font-size: 30px;
  position: relative;
  bottom: 10px;
  left:7px;
}
